$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome'; 
// importation des styles css OpenLayers 
@import '~ol/ol.css';

#map {
    width: 70vw;
    padding: 5em;
    margin: auto;
  }